<%- include('partials/header') %>

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-12 mt-2 mb-3">
            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#new-recipe">Create New Recipe</button>
        </div>

        <!-- Modal -->
        <%- include('partials/new-form') %>
        
        <!-- recipe cards -->
        <%- include('partials/recipecard') %>
    </div>
</div>

<%- include('partials/footer') %>